<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>How many t left</title>
    <meta
      name="description"
      content="This app calculates how many weeks you have left to live based on entered age and location"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
  </head>
    <body>
      <!--[if lt IE 7]>
        <p class="browsehappy">
          You are using an <strong>outdated</strong> browser. Please
          <a href="#">upgrade your browser</a> to improve your experience.
        </p>
      <![endif]-->
      <div id="wrapper">
        <section>
          <h1>Hello, <%= firstName %>!</h1><br>
          <h3>You were born on <%= dob %></h3><br>
          <h3>You are <%=age%> years old</h3>
          <p>
          So far You lived: <%= daysLived %> days, or <%= weeksLived %> weeks
          <br>
          Every box is a week since you born
          </p>
          <div class="week-boxes">
          <% for (let i = 0; i < weeksLived; i++) { %>
            <div class="weeks-gone-squares"></div>
          <% } %>
        </div>
        <br>
        <p>You have <%= weeksleft %> weeks left in your lifetime</p>
        <div class="week-boxes">
          <% for (let i = 0; i < weeksleft; i++) { %>
            <div class="weeks-remain-squares"></div>
          <% } %>
        </div>

          
        </section>
      </div>
    </body>
  </html>
</html>
